[submodule "pokedex"]
	path = pokedex
	url = https://github.com/programgames/pokeapipokedexfork
[submodule "pokeapipokedexfork"]
	path = pokeapipokedexfork
	url = https://github.com/programgames/pokeapipokedexfork
